.FormFieldsContainer{
  background: rgb(48, 75, 102);
  position: absolute;
  top:15%;
  bottom: 5%;
  left: 0%;
  right: 0%;
  border-radius: 10px;
}

.outsideContainer{
  background: rgb(48, 75, 102);
  position: absolute;
  top:6%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  border-radius: 10px;
}

.labelField{
  color: rgb(187, 184, 184);
  position: absolute;
  font-family: 'Times New Roman', Times, serif;
}

input{
  color: rgb(48, 75, 102);
  background-color: rgb(224, 222, 222);
}

input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


.formTitle{
  color: white;
  position: absolute;
  top: 20%; bottom: 0;
  margin: auto;
  font-family: "Times New Roman", Times, serif;
}

.divTitle{
    background-color: rgb(23, 45, 70);
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 91%;
    border-radius: 10px;
}